sudo: false
dist: trusty
language: java
jdk:
  - openjdk11
services:
  - docker
cache:
  directories:
    - "$HOME/.cache"

stages:
  - build
  - deploy

before_install:
  - cp ./.mvn/ci-settings.xml $HOME/.m2/settings.xml
  - wget -P $HOME https://downloads.apache.org/maven/maven-3/3.6.3/binaries/apache-maven-3.6.3-bin.tar.gz
  - tar xzvf $HOME/apache-maven-3.6.3-bin.tar.gz -C $HOME
  - export PATH=$HOME/apache-maven-3.6.3/bin:$PATH
  - mvn -v

jobs:
  include:
    - stage: build
      script:
        - "mvn -P ci install"

deploy:
  provider: script
  script: "mvn -P ci deploy -DskipTests"
  skip_cleanup: false
    on:
      tags: true
